.title .year_month h4 {
    display:inline-block;
    text-align: center;
    margin-bottom: 10px;
}

.weekday-view {
    height: 30px;
    line-height: 20px;
    margin-top: 10px;
}

.weekday-view li {
    float: left;
    width: 14.28%;
    height: 30px;
    text-align: center;
    list-style: none;
}

.weekdays {
    overflow: hidden;
    clear: both
}

.weekdays li {
    float: left;
    width: 14.28%;
    height: 14.28%;
    color: #000;
    margin: 0px -1px -1px 0px;
    border: 1px solid #000;
    text-align: center;
    line-height: 30px;
    list-style: none;
}

.weekdays .ccc {
    color: #ccc;
}

.weekdays .red {
    background: #F90;
    color: #fff;
}

.weekdays .sun {
    color: #f00;
}